.backgroundWrap {
    background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbx5UIl%2FbtrBT5DYw1i%2FQ3jicEc9nSbFkK1tOlK7k0%2Fimg.png");
    background-size: 1700px 800px;
    width: 1700px;
    height: 800px;
    position: relative;
    /* margin-left: 170; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    top: 20%;
    left: 8%;
    animation: fadein 4s;
    /* -webkit-animation: fadein 3s; */
  }

  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* @-webkit-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}   */
  
  .content span {
    color: white;
  }
  
  .content span:nth-child(1) {
    font-size:80px;
    font-weight: bold;
    /* margin-left: 200; */
  }
  
  .content span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }